html,body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgb(218, 218, 218);
    width: 100vw;
    height: auto;
}

* {
   font-family: 'chad', sans-serif;
}

.green {
    background: lightgreen!important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::outer-spin-button,
input::inner-spin-button {
  appearance: none;
  margin: 0;
}

.contain {
   padding: 0;
   background: rgb(255, 255, 255);
   height: auto;
   width: 100vw;
   overflow: hidden;
   transition: transform .5s;
   box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

hr {
    border: none;
    width: 94%;
}

.side_header {
   height: 80px;
   background-color: #2CBC5E;
   flex-direction: column;
}

.side_title {
    height: auto;
    font-size: 10pt;
    font-weight: bolder;
    background: none;
    width: 100%;
    text-align: -webkit-left;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}


.check {
    width: 28px;
    height: 28px;
    border-radius: 50px 50px;
    border: none;
    padding: 1px;
    background: rgb(157, 212, 157);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 148px;
    
    left: 141px;
    /* z-index: 10; */
    cursor: pointer;
}

.check:hover > .checkInt {
    display: block;
}

.checkInt {
    position: absolute;
    top: -3px;
    left: 33px;
    width: 100px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    background: #37824E;
    color: white;
    font-size: 8pt;
    z-index: 10;
    text-align: center;
    display: none;
    animation-name: long;
    animation-timing-function: ease-in-out;
    animation-duration: .2s;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.checkInt::before {
    content: '';
    position: absolute;
    top: 13px;
    left: -3px;
    width: 8px;
    height: 8px;
    background: #37824E;
    transform: rotate(45deg);
}

.han {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}

.check i {
    font-size: 23px;
    color: rgb(27, 134, 27);
}


.img img {
   width: 100%;
   margin-left: 10px;
}

.info_user {
    font-size: 12pt;
    color: #eee;
    text-align: center;
    line-height: 1.2;
    margin: 0;
}

.hr{
    margin: auto;
    color: rgb(63, 62, 62);
} 

div.name   {
    background: rgba(235,255,235);
    padding: 5px 10px;
    color: rgb(32, 32, 32);
    font-weight: bolder;
    width: 100%;
    height: auto;
}

.nameHand {
    width: 100%;
    background-color: #37824E;
    padding: 4px;
    font-weight: bolder;
    color: #e0e0e0;
}

.name span {
    font-size: 10pt;
    font-style: italic;
    color: rgb(72 70 70);
}

.img {
    padding: 4px;
    width: 100%;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 2fr;
    align-items: center;
   
}

.handle_side {
    height: 60%;
    position: relative;
    width: 100%;
    padding-left: 20px;
    margin: 0 auto;
}


.logout {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 93%!important;
}

.base {
   margin: 0;
   padding: 0;
   display: flex;
   height: 100%;
   position: relative;
}



header {
   width: 100%;
   height: 80px;
   top: 20px;
   background: #385042;
   font-size: 25pt;
   display: flex;
   align-items: center;
   padding-left: 10px;
   color: rgb(218, 216, 216);
   letter-spacing: -2;
}

section.side_bar {
    width: 20%;
    background: #385042;
    height: 100%;
}

section.dashboard {
   width: 100%;
   background: #fff; 
   height: auto;
   overflow: hidden;
}

.handChildren   {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0;
    background: rgb(255, 255, 255);
    display: none;
    transition: .8s;
    position: relative;
}

.sideDisplayShow {
    display: block;
    position: relative;
}

.subjectTable, .tableBase {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0;
    background: rgb(255, 255, 255);
}

.menu_handler::-webkit-scrollbar,
.handler2::-webkit-scrollbar,
.handler3::-webkit-scrollbar{
    width: 12px; 
    display: block;
    z-index: 2;
    border-radius: 7px;
}

.menu_handler::-webkit-scrollbar-track,
.handler2::-webkit-scrollbar-track,
.handler3::-webkit-scrollbar-track{
    background: #bad6b6;
    border-radius:7px;
    position: absolute;
    right: -12px;
}

.menu_handler::-webkit-scrollbar-thumb,
.handler2::-webkit-scrollbar-thumb,
.handler3::-webkit-scrollbar-thumb{
    margin-right: 5px;
    border-radius: 5px;
    background: #7cd470;
    border: 2px solid #bad6b6;
}

.menu_handler::-webkit-scrollbar-thumb:hover,
.handler2::-webkit-scrollbar-thumb:hover,
.handler3::-webkit-scrollbar-thumb:hover {
    background:  rgb(71, 161, 76);

}

.dashboard_title {
    width: 100%;
    background: #75a098;
    padding: 10px;
    font-weight: bolder;
    font-size: 14pt;
    padding-left: 20px;
    position: relative;
}

::-webkit-scrollbar {
   display: none;
}

.i1 {color: #2a3da8;} .i2 {color: #ccbb26;} .i3 {color: #2CBC5E;}

div.profile, 
div.ticketLabel,
div.subjects, 
div.schedule, 
div.logout, 
div.courses, 
div.dashboardSide {
   width: 100%;
   padding: 10px;
   height: auto;
   color: rgb(233, 233, 233);
   background:#385042;
   font-size: 10pt;
   transition: .3s;
   padding-left: 10px;
   cursor: pointer;
   display: flex;
   align-items: center;
   border-radius: 5px 0 0 5px;
}

.profile:hover,
.ticketLabel:hover,
.subjects:hover,
.schedule:hover,
.courses:hover,
.dashboardSide:hover,
.logout:hover {
    background:rgb(57, 86, 74)
}


div.key {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}


.selectorIn {
    width: 7px;
    height: 40px;
    background: rgb(123, 195, 123);
    position: absolute;
    top: 41px;
    right: 0;
    transition: .3s ease-in-out;
}
.sp  {
    font-weight: bolder;
    font-size: 12pt;
}

.par {
    font-style: italic;
    padding-left: 10px;
}

.previewCrop {
    width: 100%;
    height: 100px;
    right: 100px;
    top: 100px;
    z-index: 10;
    background: #fff;
}

.previewCropMini     {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.cropHandler {
    width: 600px;
    height: auto;
    z-index: 10;
    left: 600px;
    top: 50px;
    position: absolute;
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.4);
}

.img_panel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 10px auto;
    background: floralwhite;
}

.imageContenFixedTitle {
    border-radius: 7px 7px 0 0;
    background: #37824E; 
    color: #eee;
    border: none;
}

.cropImageCanvas {
    width: 100%;
    overflow: hidden;
    height: 500px;
    z-index: 10;
    border-radius:5px;
    /* box-shadow: 1px 2px 3px rgba(0,0,0,0.4); */
    background: white;    
}

.imageSource {
    width: 150px;
    height: 150px;
    margin: 20px auto;
    border-radius: 7px;
    /* border: 2px solid #999; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.3);
}

.labelImage {
    display: flex;
}

.current, .new {
    width: 100%;
}



.menu_handler {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: white;
    overflow-y: auto;
    position: relative;
    height: 540px;
}

.sp {
    font-size: 10pt;
}

.keys {
    position: absolute;
    right: 551px;
    top: 45.5%;
    font-size: 21pt;
    transition: .12;
    cursor: pointer;
}

.fixed {
    position: fixed;
    width: 515px;
    top: 195px;
    right: 253px;
    height: auto;
    padding: 0;
    word-wrap: break-word;
    border-radius: 7px;
    background: rgb(251, 234, 234);
    box-shadow: 2px 2px 3px rgb(0 0 0 / 20%);
    overflow: hidden;
    display: none;
    animation: left .5s ease-in-out;
}

.fixedContent {
    width: 100%;
    text-align: left;
    font-size: 10pt;
    max-height: 390px;
    word-wrap: break-word;
    overflow-y: auto;
    transition: .2s;
}

.fixedContent::-webkit-scrollbar {
    width: 10px; 
    display: block!important;
    z-index: 2;
    border-radius: 7px;
    
}

.count {
    position: absolute;
    top: 8px;
    left: 15%;
    height: calc(100% - 16px);
    font-size: 10pt;
    padding: 6px;
    border-radius: 5px;
    background: #842121;
}

.fixedContent::-webkit-scrollbar-track {
    background: #bb8888;
    border-radius: 7px;
    padding: 2px;
}

.fixedContent::-webkit-scrollbar-thumb {
    margin-right: 5px!important;
    width: 5px;
    border-radius: 5px;
    background: rgb(183, 92, 92);
    border: 2px solid#bb8888;
}

.fixedContent::-webkit-scrollbar-thumb:hover {
    background: rgb(187, 36, 36);

}

.fixedContent p {
    padding: 10px;
    padding-right: 132px;
    line-height: 1.2;
    margin: 0;
    position: relative;
}

.fixedContent p:nth-child(odd) {
    background: rgb(247, 214, 214);
}

.fa-exclamation-triangle {
    margin: 0;
    margin-right: 10px;
    color: red;
}

.headFixed {
    width: 100%;
    margin: 0;
    padding: 5px;
    height: 40px;
    font-size: 14pt;
    background: rgb(234, 107, 107);
    line-height: 1;
    padding-top: 10px;
    font-weight: bolder;
    color: cornsilk;
    position: sticky;
    z-index: 1;
    top: 0;
    padding-left: 10px;
    padding-right: 10px;
}


.fa-times {
    padding: 3px 3px 0px 0px;
    margin: 0;
    align-self: center;
    font-size: 13pt;
    cursor: pointer;
    color: #333;
}

@keyframes left {
    0%{
        opacity: 0;
        transform: translateX(500px);
    }

    100%{

        transform: translateX(0px);
    }
}

@keyframes left2 {
    0%{opacity: 1;
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-620px);
    }
}

@keyframes right {
    0%{
        opacity: 1;
        transform: translateX(0px);
    }

    100%{
        opacity: 0;
        transform: translateX(500px);
    }
}

@keyframes right2 {
    0%{
        transform: translateX(-600px);
    }
    100%{
        transform: translateX(0px);
    }
}

.imageFixed {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    display: none;
}

.imageFixedContent{
    position: absolute;
    width: 578px;
    height: 400px;
    background:rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    top: 100px;
    left: 40px;
    display: none;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

.hides {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 40%);
    top: 200px;
    right: -20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

/* @keyframes scale {
    0% {
        transform: scale()
    }
    20% {

    }
    40% {

    }
    60% {

    }
    80% {

    }
    100% {

    }
} */

.tabIndent {
    color: rgb(32, 32, 32);
    font-style: italic;
    font-weight: 400;
    height: calc(100% - 10px);
    position: absolute;
    top: 10.5px;
    right: 10px;
}

.red {
	box-shadow: 0 0 0 0.1em rgba(255, 0, 0, 0.438) inset;
	border-color: rgba(255, 0, 0, 0.438)!important;
}

.errBG {
    background: #f8f3c0;
}

.rp {
    display: none;
}

.rel {
    position: relative;
}

.menus .pending,
.menus .ongoing,
.menus .enrolled, 
.menus .tickets {
    cursor: pointer;
}

.menus  {
    width: 100%;
    background: rgb(236, 236, 236);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    z-index: 0;
    padding: 20px;
    grid-gap: 2em;
}

.menusCredential  {
    width: 100%;
    background: rgb(236, 236, 236);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
    z-index: 0;
    height: auto;
    margin-bottom: 10px;
}

input[type='checkbox'] {
    margin-right: 5px; 
    width: 18px;
    height: 18px;
}

.custom-checkbox {
    display: flex;
    align-items: center;
}

.credChild {
    cursor: pointer;
    transition: background .3s;
    text-align: center;
    padding: 10px 10px!important;
    font-size: 10pt;
    font-weight: bolder;
    border-top: 3px transparent solid;
}

.child {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    height: auto;
    padding: 10px;
    transition: .2s;
    box-shadow: 0px 2px 6px rgb(0,0,0,0.2);

}

.focusOn {
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.4);
}
/* .child:hover {
    box-shadow: 0 0 0 4px rgba(104, 104, 104, 0.4);
} */

.infoChild i {
    font-size: 33pt!important;
    margin: 0;
}

.in0 {color: #2a3da8;} .in1 {color: #ff7777;} .in2 {color: #ccbb26;} .in3 {color: #2CBC5E;}

.info {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-gap: .5em;
    height: 60px;
}

.num  {
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    width: 40px;
    border-radius: 50%;
    height: 40px;
}

.n0 {color: #2a3da8; background:  #A9B0DB;} 
.n1 {color: #ff7777; background:  #ffcdcd;} 
.n2 {color: #ccbb26; background:  #E9E3A7;} 
.n3 {color: #2CBC5E; background:  #A9E3BD;}



.icon {
    width: auto;
    height: auto;
    font-size: 10pt;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #646464;
    text-align: center;
    padding: 0;
}

.child h4 {
    color: #646464;
    font-weight: bolder;
    font-size: 14pt;
}

.infoChild {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.infoCount{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.i0 {color: #8d98d6} .i1 {color: #ff7777} .i2 {color: #ccbb26;} .i3 {color: #2CBC5E;}

/* Content Handler - Handler1 */
.contentHandler1 {
    width: 100%;
    padding: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2em;
    height: 435px;
}

.preTitle {
    width: 100%;
    background: #009877;
    color: rgb(231, 231, 231);
    padding: 5px 20px;
    font-weight: bolder;
    font-size: 13pt;
}

.handChild {
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.enrolledTable {
    border-radius: 5px;
    height: 100%;
    position: relative;
}

.pre_enrolledTable {
    display: grid;
    grid-template-rows: 1.4fr 1fr;
    grid-gap: 1em;
    height: 100%;
}

.pre_table {
    width: 100%;
    height: 137px;
}

#pre_table tbody tr td:nth-child(3) {
    font-size: 12pt!important;
    color: #10b944!important;
} 

.pre_footer {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #f9fdfc;
    padding: 3px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #ddd;
}

.footer {
    height: 40px;
    width: 100%;
    background: #6cb9a4;
    position: absolute;
    bottom: 0;
}

.pre_footer i {
    font-size: 14pt;
    color: #49564d!important;
    cursor: pointer;
    margin-right: 8px;
}

.lastPreEnrolled, .previousPreEnrolled {
    border-radius: 5px;
    width: 100%;
    position: relative;
}

.enrolledTableBase {
    height: 319px;
    width: 100%;
    padding: 0;
    overflow: auto;
}

.enrolledTableFooter,
.subjectsFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    height: 50px;
    background: #75a098;
    color: white;
}


.noNewEnrollee,
.noNewEnrollee2,
.noNewEnrollee3,
.noSubjects,
.noSubjects2 {
    width: 90%;
    margin: 20px auto;
    font-size: 17pt;
    font-weight: bolder;
    height: auto;
    display: none;
    text-align: center;
    background: #f3f3f3;
    padding: 20px;
    border-radius: 9px;
    border: 1px solid rgb(226, 226, 226);
}

.noNewEnrollee3  {
    font-size: 12pt!important;
}

.noNewEnrollee3 i {
    font-size: 14pt!important;
}

.fa-telescope {
    
    --fa-secondary-color: #fc2424;
    --fa-secondary-opacity: 1;
}

.fa-check-circle.noSubjectAdded2,
.fa-plus-circle.noSubjectAdded {
    --fa-secondary-color: #24fc7e;
    --fa-primary-color: rgb(6, 133, 69);
    --fa-secondary-opacity: .5;
    /* margin-top: -20px!important; */
}

.grid_reports {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 5px;
    margin: 6px auto;
    overflow: hidden;
    grid-gap: .2em;
}

.ticketReport {
    font-size: 10pt;
    font-weight: bolder;
    padding: 2px;
    display: flex;
    align-items: center;
}

/* Menu Handler 2 */
.menu, .menuSched  {
    width: 70%;
    background: rgb(236, 236, 236);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    z-index: 0;
}

.menuSched {
    grid-template-columns: repeat(3, 1fr);
}

.searchBar {
    width: 23%;
    height: auto;
    right: 70px;
    top: 50px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2) inset;
    background: rgb(192, 192, 192);
}



.baseTicketTable {
    width: 100%;
    margin: 10px auto;
    border-radius: 5px;
    overflow: hidden;
    height: 475px;
    overflow-y: auto;
    padding: 3px;
    position: relative;
    box-shadow: 0 8px 10px 1px rgb(0 0 0 / 14%), 
                0 3px 14px 2px rgb(0 0 0 / 12%), 
                0 5px 5px -3px rgb(0 0 0 / 20%);
}

.baseTicketTable table {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.ticketTable thead tr th {
    padding: 10px 7px!important;
}

@keyframes transLate {
    0% {
        /* opacity: 0; */
        transform: translateX(-15px);
    }
    100% {
        /* opacity: 1; */
        transform: translateX(0px);
    }
}   

.loadFixing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 12;
}


.lds-roller {
	display: inline-block;
	position: absolute;
	width: 80px;
	height: 80px;
	
  }
  .lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
  }
  .lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: rgb(117, 209, 145);
	margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
	background: rgb(107, 199, 135);
  }
  .lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
	background: rgb(97, 189, 125);
  }
  .lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
	background: rgb(87, 179, 115);
  }
  .lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
	background: rgb(77, 169, 105);
  }
  .lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
	background: rgb(67, 159, 95);
  }
  .lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
	background: rgb(57, 149, 85);
  }
  .lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
	background: rgb(47, 139, 75);
  }
  .lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
	background: rgb(37, 129, 65);
  }
  @keyframes lds-roller {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  .fixing {
	top: 50%;
	justify-content: center;
	align-items: center;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 130px;
	position: absolute;
	background: rgb(255,255,255);
	border-radius: 7px;
	box-shadow: 1px 2px 8px rgba(0,0,0,0.3);
    z-index: 11;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .labelTitle {
    font-weight: bolder!important; 
    /* margin-top: 15px!important; */
  }

  .sched {
      width: 80%;
      border-radius: 6px;
      /* box-shadow: 2px 2px 4px rgba(0,0,0,0.3); */
      padding: 20px;
      max-height: 1020px;
      background: #e6f3ea;
      /* border: 2px solid rgb(255,255,255); */
      margin: 10px 20px!important;
      transition: height .6s ease-in-out;
  }

  #courseSelections {
      width: 70%!important
  }

  .green {
      color:rgb(6, 133, 69);
      font-weight: bolder;
  }

  .subsJect {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;

  }

  .reds {
    color: red; 
    font-size: 17pt;
    cursor: pointer;
  }

  .art {
      width: 300px!important;
      background: antiquewhite;
      padding: 7px 10px;
      border: 1px solid rgba(0,0,0,0.4);
      border-radius: 6px;
      text-align: center;
      font-size: 10pt;
      margin: 0;;
  }

  
  

.form-select::-webkit-scrollbar {
    width: 20px;
    height: 14px;
    display: block!important;
  }
  
  .form-select::-webkit-scrollbar-track {
    border: rgb(180, 180, 180);
    padding: 3px;
    background-color: #b0fcd0;
  }
  
  .form-select::-webkit-scrollbar-thumb {
    background-color: #2bdb7a;
    border-radius: 5px;
  }

  .subsButtons {
      display: flex;
      align-items: center;
      justify-content: space-between;

  }

  .mini-loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid green;
    border-right: 4px solid rgb(4, 182, 4);
    border-bottom: 4px solid rgb(21, 228, 21);
    border-left: 4px solid rgb(17, 253, 17);
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin .5s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.loader-handler, .loader-confirm {
    width: auto;
    display: flex;
    height: auto;
    padding: 5px;
    position: absolute;
    right: 20px;
    bottom: 57px;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
    animation-name: leftFade;
}

.loader-confirm {
    background: rgb(64, 163, 102, 0.5);
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    width: 190px;
    flex-direction: column;
    justify-content: center;
    /* padding:  */
}

.labs, .btnHandler {
    text-align: center;
}

.h6Label {
    margin-right: 20px
}

@keyframes leftFade {
        0%{
            opacity: 0;
            transform: translateX(30px);
        }
    
        100%{
            opacity: 1;
            transform: translateX(0px);
    }
}

.schedTime1, .schedTime2 {
    position: relative;
}